.member-row
    @apply flex gap-2 md:gap-3 items-center w-full md:w-[90%] lg:w-[80%] mx-auto px-6 md:px-4 py-2
    &:nth-of-type(2n)
        background-color: rgba(60, 60, 60, 0.5)
        border-width: 2px 0
        border-style: solid
        border-color: rgba(60, 60, 60, 1)
