.members-grid
  display: flex
  width: 100%
  position: relative

  $border: 2px
  background: #0C0C0C
  background-clip: padding-box
  border: solid $border transparent
  border-radius: 1em
  padding: 2rem
  flex-wrap: wrap
  gap: 2rem

  &:before
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: -1
    margin: -$border
    border-radius: inherit
    background: linear-gradient(to right , rgba(136, 115, 109, 0), orange)

.header
  margin-bottom: 1rem
  &:not(:first-child)
    margin-top: 2rem
